h1 {
  font-family: Snell Roundhand, cursive;
  font-weight: 300;
  font-size: 70px;
  padding: 25px 0px 10px 0px;
  margin-left: 40px;
  color: white;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
